.containerTitleRecipe {
  display: flex;
  flex-direction: column;

  .titleTitleRecipe {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
    @include desktop {
      font-size: 3rem;
    }
  }
  .rating {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 1rem;
    @include desktop {
      font-size: 35px;
    }
  }
  .rating a {
    float: initial;
    color: $app-primary-color;
    text-decoration: none;
    margin-left: 1%;
  }
}
