.containerCard {
  border: 1px solid $app-primary-color;
  border-radius: 5px;
  width: 9rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  background-color: $app-third-color;
  @include desktop {
    width: 17rem;
    height: 19rem;
  }

  .imagecard {
    height: 45%;
    margin: 0.4rem;
    border-radius: 5px;
  }
  .rating {
    margin: 0 auto;
    font-size: 20px;
    @include desktop {
      padding-top: 1rem;
      font-size: 30px;
    }
  }
  .rating span {
    color: $app-primary-color;
    margin-left: 1%;
  }
  .titleCard {
    text-align: center;
    height: 100%;
    margin: inherit;
    @include desktop {
      font-size: 1.5rem;
      padding-top: 2rem;
    }
  }
}
