.headerRecipe {
//   height: calc(100vh - 115px);
  position: relative;

  .headerCookiesChoco {
    width: 100%;
    height: 10rem;
  }
  .rectangle {
    height: 2.3rem;
    width: 12%;
    position: absolute;
    margin: -9rem 0 0 1rem;
  }
  .backArrow {
    width: 10%;
    height: 2.4rem;
    position: absolute;
    margin: -9.3rem 0 0 1.3rem;
  }
}
