@import "../src/assets/styles/variables.scss";
@import "../src/assets/mixins/mixins.scss";


/******************** import components ******************************/
@import "./components/navbar/Navbar.scss";
@import "./components/footer/Footer.scss";
@import "./components/containerCard/ContainerCard.scss";
@import "./components/headerRecipe/HeaderRecipe.scss";
@import "./components/titleRecipe/TitleRecipe.scss";
@import "./components/usefulInformation/UsefulInformation.scss";
@import "./components/description/Description.scss";

/******************** import pages ***********************************/
@import "./pages/recipe/Recipe.scss";
@import "./pages/home/Home.scss";
@import "./pages/create/CreateCookies.scss";
@import "./pages/modification/ModificationCookies.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

header,
footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

main {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  background-color: rgba(244, 186, 198, 0.2);
}

h1,
h2,
h3,
h4 {
  font-family: $app-primary-font;
}
