.formRecipes {
  .inputAdd {
    font-size: 1.2rem;
    display: flex;
    padding-top: 1rem;
    margin-left: 1rem;
  }
  .interiorInput {
    margin: 4%;
  }
  .buttons {
    margin-left: 40%;
    font-size: 1.2rem;
    background-color: #f4bac6;
    border-radius: 5px;
    width: 20%;
    border: #e77189 solid 2px;
  }
}
